# For using with google colab, it's better to remove versions
pandas #~=1.1.0
numpy #~=1.18.0
holidays #>=0.10.4
beautifulsoup4      # for parsing html files
lxml                # for parsing html files
html5lib            # for parsing html files
matplotlib #~=3.3.0   # for plotting
mplcursors~=0.3     # For having tooltips in charts
ong_utils   #@git+https://github.com/Oneirag/ong_utils.git#develop
ong_tsdb@git+https://github.com/Oneirag/ong_tsdb.git
ong_esios@git+https://github.com/Oneirag/ong_esios.git      # For spot price


marshmallow-dataclass      # For validation of json schemas for configuration
marshmallow

pyotp       # for using google authenticator passwords
